asgiref==3.3.4
astroid==2.5.3
#daphne==3.0.*
Django==3.2.*
django-filter==2.4.0
djangorestframework==3.12.*
gunicorn==20.1.*
isort==5.8.0
lazy-object-proxy==1.6.0
Markdown==3.3.4
mccabe==0.6.1
psycopg2-binary
#psycopg2==2.8.6
#pylint==2.7.4
pytz==2021.1
sqlparse==0.4.2
toml==0.10.2
whitenoise==5.2.0
wrapt==1.12.1
