asgiref==3.5.*
astroid==2.5.3
#daphne==3.0.*
Django==4.0.*
django-filter==2.4.0
djangorestframework==3.13.*
gunicorn==20.1.*
isort==5.8.0
lazy-object-proxy==1.6.0
Markdown==3.3.4
mccabe==0.6.1
psycopg2-binary
#psycopg2==2.8.6
#pylint==2.7.4
pytz==2021.1
requests==2.27.*
sqlparse==0.4.2
toml==0.10.2
whitenoise==6.0.*
wrapt==1.12.1
